<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="application.css" type="text/css" />
    </head>
    <body>
		<div class="wrapper">

			<h2>The winner... 
				<br>&nbsp&nbsp&nbsp&nbsp with blah number of tweets is....
				<br>
			</h2>
			<h1><%= @firstHash %> !!!</h1>
			
			<div id="firstHash">
				<h3><%= @firstHash %> stats:</h3>
				<br>
			</div>

			<div id="secondHash">
				<h3><%= @secondHash %> stats:</h3>
				<br>
			</div>

			<div id="boxing-gif">
				<img src="boxing.gif" alt="whoops"/>
			</div>
		
		</div>
    </body>
</html>